<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="error_msg">
            {{error_msg}}
        </div>
        <form #resetForm="ngForm" (ngSubmit)="onResetPassword(resetForm, $event)">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email>
            </div>
            <button type="submit" class= "btn btn-success">Reset Password</button>
            <button type="button" class="btn" (click)="goToLogin()">Back To Login Page</button>
        </form>
     </div>
</div>